.live-chat
{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: absolute;

    .coming-soon
    {
        $height: 40px;

        position: absolute;
        top: 50%;
        margin-top: -$height / 2;
        width: 100%;
        text-align: center;
        height: $height;
        line-height: $height;
        font-weight: 600;
        font-style: italic;
        font-size: 120%;
    }

    > .chat-wrap
    {
        position: relative;
        height: 100%;
        // display: flex;
        // flex-direction: column;

        > .messages
        {
            height: 100%;
            // flex-grow: 1;
            // flex-shrink: 1;
            overflow-y: auto;
            padding-bottom: 120px;

            > .message
            {
                display: flex;
                padding-top: 6px;
                padding-bottom: 6px;
                transition: background-color 0.3s;

                &:hover,
                &.moderating
                {
                    background-color: rgba(255, 255, 255, 0.03);
                }

                > .left
                {
                    $image-size: 24px;

                    flex-grow: 0;
                    flex-shrink: 0;
                    width: $image-size + 8px * 2;
                    text-align: center;

                    > .image
                    {
                        display: inline-block;
                        width: $image-size;
                        height: $image-size;
                        border-radius: $image-size / 2;
                        background-color: #CCC;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }

                    > .noimage
                    {
                        margin-top: 4px;
                    }
                }

                > .right
                {
                    flex-grow: 1;
                    flex-shrink: 1;
                    padding-top: 2px;
                    vertical-align: middle;
                    word-break: break-word;

                    > .name
                    {
                        font-weight: 600;
                        font-size: 110%;
                        margin-right: 8px;
                        color: #FFF;
                    }

                    > .message
                    {
                        color: rgba(255, 255, 255, 0.9);
                    }
                }

                > .mod
                {
                    flex-grow: 0;
                    flex-shrink: 0;
                    width: 48px;
                    text-align: center;

                    > .mod-button
                    {
                        $mod-button-size: 24px;

                        display: inline-block;
                        width: $mod-button-size;
                        height: $mod-button-size;
                        text-align: center;
                        line-height: $mod-button-size;
                        border-radius: $mod-button-size / 2;
                        cursor: pointer;
                    }
                }
            }
        }

        > .fieldbox
        {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            // flex-grow: 0;
            // flex-shrink: 0;
            // background-color: rgba(0, 0, 0, 0.5);
            // border-top: 1px solid rgba(255, 255, 255, 0.2);
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);

            > .top
            {
                padding-top: 8px;
                padding-left: 8px;
                padding-right: 8px;

                $field-height: 40px;

                > input
                {
                    width: 100%;
                    background-color: #FFF;
                    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.5);
                    color: #000;
                    border: none;
                    outline: none;
                    height: $field-height;
                    border-radius: $field-height / 2;
                    font-size: 100%;
                    padding-left: $field-height / 3;
                    padding-right: $field-height / 3;
                }
            }

            > .bottom
            {
                text-align: right;
                padding-top: 8px;
                padding-right: 8px;
                padding-bottom: 10px;

                button
                {
                    color: #FFF;
                    background-color: #08F;
                    border-radius: 20px;
                    transition: background-color 0.3s, color 0.3s;

                    &[disabled]
                    {
                        color: #999;
                        background-color: #666;
                    }

                    span
                    {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

::ng-deep .mod-menu
{
    background-color: #333;

    button[mat-menu-item]
    {
        color: #FFF;
        font-weight: 600;
        text-transform: uppercase;

        fa-icon
        {
            margin-right: 10px;
        }
    }
}