<div class="live-chat">
    <!-- <div class="coming-soon">
        Chat Coming Soon
    </div> -->
    <div class="chat-wrap">
        <div #messages_scrollbox class="messages">
            <div
                *ngFor="let message of messages$ | async"
                class="message"
                (click)="revoke_message(message)">
                <div class="left">
                    <div
                        *ngIf="message.photo_url"
                        class="image"
                        [style.background-image]="'url(' + message.photo_url + ')'"></div>
                    <div
                        *ngIf="!message.photo_url"
                        class="noimage">
                        <fa-icon [icon]="icons.user_avatar"></fa-icon>
                    </div>
                </div>
                <div class="right">
                    <span class="name">{{ message.username }}</span>
                    <span class="message">{{ message.message }}</span>
                </div>
            </div>
        </div>
        <div
            class="fieldbox"
            *ngIf="chat_user_service.user$ | async as user">
            <div class="top">
                <input
                    type="text"
                    [(ngModel)]="field_value"
                    placeholder="Send a message..."
                    (keydown.enter)="clicked_send(user)"
                    maxlength="280" />
            </div>
            <div class="bottom">
                <button
                    mat-button
                    (click)="clicked_send(user)"
                    [disabled]="field_value.trim().length == 0">
                    <span>Send</span>
                    <fa-icon [icon]="icons.send"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
